<div class="container">
    <h1>Registracija</h1>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="username">Korisnicko ime</label>
                <input type="text" id="username" placeholder="Unesite korisnicko ime" class="form-control" formControlName="username">
                <em *ngIf="registrationForm.controls.username.invalid && registrationForm.controls.username.touched">
                    Polje je obavezno!
                </em>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Unesite email" class="form-control" formControlName="email">
                <em *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="password">Lozinka</label>
                <input type="password" id="password" placeholder="Unesite lozinku" class="form-control" formControlName="password">
                <em *ngIf="registrationForm.controls.password.invalid && registrationForm.controls.password.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="confirm_password">Potvrda lozinke</label>
                <input type="password" id="confirm_password" placeholder="Potvdrite lozinku" class="form-control" formControlName="confirm_password">
                <em *ngIf="registrationForm.controls.confirm_password.invalid && registrationForm.controls.confirm_password.touched && registrationForm.controls.confirm_password.hasError('required')">
                    Polje je obavezno!
                </em>
                <em *ngIf="registrationForm.controls.confirm_password.hasError('mustMatch')">
                    Lozinke se ne poklapaju!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="name">Ime</label>
                <input type="text" id="name" class="form-control" placeholder="Unesite ime" formControlName="name">
                <em *ngIf="registrationForm.controls.name.invalid && registrationForm.controls.name.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="surname">Prezime</label>
                <input type="text" id="surname" class="form-control" placeholder="Unesite prezime" formControlName="surname">
                <em *ngIf="registrationForm.controls.surname.invalid && registrationForm.controls.surname.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="dateOfBirth">Datum rodjenja</label>
                <input type="date" id="dateOfBirth" class="form-control" placeholder="Unesite datum rodjenja" formControlName="dateOfBirth">
                <em *ngIf="registrationForm.controls.dateOfBirth.invalid && registrationForm.controls.dateOfBirth.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="address">Adresa</label>
                <input type="text" id="address" class="form-control" placeholder="Unesite adresu" formControlName="address">
                <em *ngIf="registrationForm.controls.address.invalid && registrationForm.controls.address.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group" >
                <label for="type">Tip korisnika</label>
                <select class="form-control"  formControlName="type" >
                    <option *ngFor="let option of list" [value]="option" >{{option}}</option>
                </select>
                <em *ngIf="registrationForm.controls.type.invalid && registrationForm.controls.type.touched">
                    Polje je obavezno!
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="image">Slika</label>
                <input type="file" id="image" class="form-control" placeholder="Unesite adresu" formControlName="image">
                <!-- <div *ngIf="registrationForm.controls.address.invalid && registrationForm.controls.address.touched">
                    Polje je obavezno!
                </div> -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-1">
                <button [disabled]="!registrationForm.valid" class="btn btn-success" type="submit">Add</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
            </div>
        </div>
    </form>

</div>