<hr/>

<div class="navbar-collapse">
    <ul>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/profile">
                Profil
            </a>
        </div>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/verification">
                Verifikacija
            </a>
        </div>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/add-new-product">
                Dodavanje proizvoda
            </a>
        </div>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/new-current-order">
                Nova/trenutna porudzbina
            </a>
        </div>
        <div class="navbar-nav" style="vertical-align: bottom">
            <a class="nav-item nav-link active" id="nav-link" style="color: rgb(156, 23, 23)" routerLink="/current-order">
               Trenutna porudzbina
            </a>
        </div>
    </ul>
</div>