<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/25539c29532269.55f7d6a0a8c71.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Uloguj se putem</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="23"><path xmlns="http://www.w3.org/2000/svg" fill="white" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
              </button>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Ili</p>
            </div>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="email" formControlName="email" class="form-control form-control-lg"
                placeholder="Unesite email" />
                <em *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched && loginForm.controls.email.hasError('required')">
                    Neophodno je da unesete email
                </em>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password"  formControlName="password" id="password" class="form-control form-control-lg"
                placeholder="Unesite lozinku" />
                <em *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched && loginForm.controls.email.hasError('required')">
                    Neophodno je da unesete lozinku
                </em>
            </div>
  
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Uloguj se</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Nemaš nalog? <a routerLink="/register"
                  class="link-danger">Registruj se</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </section>


