<!-- <section class="wrapper">
<div class="container">
    <div class="col text-center mb-5">
        <h1 class="display-4">Dodavanje proizvoda</h1>
     </div>
    <h2 *ngIf="isAdded==true">Uspesno ste dodali proizvod</h2>
    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="name">Naziv</label>
                <input type="text" id="name" placeholder="Unesite naziv" class="form-control" formControlName="name">
                <div *ngIf="newProductForm.controls.name.invalid && newProductForm.controls.name.touched">
                    Polje je obavezno!
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="price">Cena</label>
                <input type="number" id="price" placeholder="Unesite cenu" class="form-control" formControlName="price">
                <div *ngIf="newProductForm.controls.price.invalid && newProductForm.controls.price.touched">
                    Polje je obavezno!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="ingredients">Sastojci</label>
                <input width="40" type="text" id="ingredients" placeholder="Unesite lozinku" class="form-control" formControlName="ingredients">
                <div *ngIf="newProductForm.controls.ingredients.invalid && newProductForm.controls.ingredients.touched">
                    Polje je obavezno!
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-1">
                <button [disabled]="!newProductForm.valid" class="btn btn-success" type="submit">Add</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
            </div>
        </div>
    </form>

</div>
</section> -->




<section class="text-center">
    <!-- Background image /* background-image: url('https://cdn.wallpapersafari.com/86/39/8RAp7S.jpg'); */-->
    <div class="p-5 bg-image" style="
         
          height: 120px;
          "></div> 
    <!-- Background image-->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="row">
                <div class="col text-center mb-5">
                   <h1 class="display-4">Dodavanje proizvoda</h1>
                   <h2 *ngIf="isAdded==true">Uspešno ste dodali proizvod!</h2>
                </div>
              </div>
            <!-- <h2 class="fw-bold mb-5">Profil</h2> -->
            <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
                <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label for="name">Naziv:</label>
                    <input type="text" id="name" placeholder="Unesite naziv" class="form-control" formControlName="name">
                    <em *ngIf="newProductForm.controls.name.invalid && newProductForm.controls.name.touched">
                        Polje je obavezno!
                    </em>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label for="price">Cena (RSD):</label>
                      <input type="number" id="price" placeholder="Unesite cenu" class="form-control" formControlName="price">
                      <em *ngIf="newProductForm.controls.price.invalid && newProductForm.controls.price.touched">
                          Polje je obavezno!
                      </em>
                    </div>
                  </div>
              </div>
              <!--  -->
              <div class="row">
                
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <label for="ingredients">Sastojci:</label>
                    <input width="40" type="text" id="ingredients" placeholder="Unesite sastojke" class="form-control" formControlName="ingredients">
                    <em *ngIf="newProductForm.controls.ingredients.invalid && newProductForm.controls.ingredients.touched">
                        Polje je obavezno!
                    </em>
                  </div>
                </div>
              </div>
              <!--  -->
              <!-- Submit button -->

              <button type="submit" [disabled]="!newProductForm.valid"   class="btn btn-primary btn-block mb-4">
                Dodaj
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
