<section class="wrapper">
<div id="container"  style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
    <div class="row">
        <div class="col text-center mb-5">
           <h1 class="display-4">Svi dostavljači</h1>
        </div>
      </div>
    <!-- <h3 style="text-align: center;">Svi dostavljaci</h3> -->
    <div class="row">
        <div class="col-1">
            <a role="button" class="btn btn-outline-secondary" (click)="all()" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  Svi</a>
        </div>
        <div class="col-2">
            
            <a role="button" class="btn btn-outline-secondary" (click)="onlyApproved()" data-toggle="modal" data-target=".bs-example-modal-sm" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                Odobreni
            </a>
        </div>
       
    </div>
    <div id="table" >
    <table  class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id korisnika</th>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Email</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Adresa</th>
                <th scope="col">Status</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of list">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.address}}</td>
                <td>{{user.status}}</td>
                <td >
                    <button *ngIf="user.status=='Processing'" (click)="approveUser(user)" class="btn btn-primary" >
                        Approve
                    </button>
                </td>
                <td >
                    <button *ngIf="user.status=='Processing'" (click)="rejectUser(user)" class="btn btn-primary" >
                        Reject
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</section>